/* Base Styling */
body {
  font-family: Arial, sans-serif;
  background: #81c4bb;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  background-color: #0b5a49;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
  padding: 0 50px;
}

.logo img {
  height: 150px;
}

.nav-items {
  display: flex;
  background-color: white;
  border-radius: 10px;
  list-style: none;
  gap: 75px;
  padding: 10px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 400;
}

/* Layout Containers */
.container {
background-color: #6F9F94;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
border-radius: 30px;
margin-top: 1em;
}

.toggle-container {
  margin: 1rem 0;
}

/* Text Elements */
h1{
  color: #000000;
}

h2{
  color: #323232;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Cards */
.card {
  background: #fff;
  border: 5px solid #2a6c5d;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  margin: 1rem 0;
  transition: background 0.3s;
  font-size: 1.5rem;
}

.grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 2rem;
    }
    .grid-item {
      background: #fff;
      border: 2px solid #2a6c5d;
      border-radius: 10px;
      padding: 2rem;
      text-align: center;
      font-size: 1.5rem;
      transition: background 0.3s;
    }
    .grid-item:hover {
      background: #e6f2f0;
    }
    .grid-item a {
      text-decoration: none;
      color: #2a6c5d;
      font-weight: bold;
    }

/* Buttons */
button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: #2a6c5d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1f5246;
}

/* Responsive Typography & Navigation */
@media (max-width: 600px) and (orientation: landscape),
       (max-width: 600px) and (orientation: portrait) {

  nav {
    font-size: 1em;
  }

  .logo img {
    height: 85px;
  }

  .nav-items {
    gap: 25px;
  }

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

@media (min-width: 601px) {
  nav {
    font-size: 1.5em;
  }

  .logo img {
    height: 100px;
  }

  .nav-items {
    gap: 35px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  p {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  nav {
    font-size: 2em;
  }

  .nav-items {
    gap: 40px;
  }
}

@media (min-width: 992px) {
  nav {
    font-size: 3em;
  }

  .logo img {
    height: 150px;
  }

  .nav-items {
    gap: 80px;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.75em;
  }

  p {
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  nav {
    font-size: 3.5em;
  }

  .logo img {
    height: 175px;
  }

  .nav-items {
    gap: 80px;
  }
}